* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.89), rgb(61, 60, 60));
  /* background-color: rgb(42, 66, 58); */
}
